.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
